/Old_CPP
/src/v_com/backup/csform.lfm
/src/v_com/backup/csform.pas
/src/v_prin/backup/principal.lfm
/src/v_prin/backup/principal.pas
/src/v_prin/backup/viacrucis.lpi
/src/v_prin/backup/viacrucis.lpi.bak
/src/v_prin/backup/viacrucis.lpr
/src/v_prin/backup/viacrucis.lps
/src/v_prin/backup/viacrucis.lps.bak
/src/v_prin/lib/x86_64-win64/principal.lfm
/src/v_prin/lib/x86_64-win64/principal.o
/src/v_prin/lib/x86_64-win64/principal.ppu
/src/v_prin/lib/x86_64-win64/viacrucis.compiled
/src/v_prin/lib/x86_64-win64/viacrucis.o
/src/v_prin/lib/x86_64-win64/viacrucis.obj
/src/v_prin/lib/x86_64-win64/viacrucis.res
/src/v_prin/viacrucis.exe
/src/m_cad/lib
/src/m_prin/lib
/src/m_cad/m_cad.exe
/src/m_prin/mariae.exe
/src/m_comp/lib/x86_64-win64/*.o
/src/m_comp/lib/x86_64-win64/*.ppu
